@keyframes slidein {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
}

.slidein {
  animation-duration: 1.2s;
  animation-name: slidein;
}

@keyframes slidein-left {
  0% {
    margin-left: -60px;
    opacity: 0;
  }
}

.slidein-left {
  animation-duration: 1.2s;
  animation-name:  slidein-left;
}

@keyframes fadein {
  0% {
    opacity: 0;
  } 
}

.fadein {
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes blurin {
  0% {
    filter: blur(5px);
  }
}

.blurin {
  animation-duration: 1s;
  animation-name: blurin;
}

@keyframes inner {
  0% {
    padding-top: 30px;
    opacity: 0.5;
  }
}

.inner {
  animation-duration: 1.2s;
  animation-name: inner;
}

@keyframes colorin {
  0% {
    filter: grayscale(1);
  }
}

.colorin {
  animation-duration: 2s;
  animation-name: colorin;
}