body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 200;
  line-height: 1.8;
  color: #333;
  background-color: #f2f2f2;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Amatica SC';
}

h3 {
  font-size: 1.1em;
}

a, a:hover {
  color: #5ebd00;
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  color: #89eb00 ;
  background-color: rgba(0, 0, 0, 0.0);
  font-weight: 100;
  width: 100%;
  height: 48px;
  line-height: 48px;
  z-index: 1000;
  border-bottom: 1px solid rgba(137, 235, 0, 0);
  transition: background 1300;
}

.header2 {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  color: #89eb00 ;
  background-color: rgba(0, 0, 0, 0.87);
  font-weight: 100;
  width: 100%;
  height: 48px;
  line-height: 48px;
  z-index: 1000;
  transition: background 1300;
  border-bottom: 1px solid rgba(250, 2, 101, 0.0);
  box-shadow: 0px 8px 23px -9px rgba(0, 0, 0, 0.7);
}

#header-content {
  position: fixed;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  height: 64px;
  margin-top: 0;
  font-weight: 100;
}

.header-item {
  padding: 0px;
}

.outer-header-box {
  margin-top: 0;
  background-image: url(puppeteer.png);
  background-size: cover;
  height: calc(100% - 200px);
  width: 100%;
  background-position: center;
  box-shadow: 0px 22px 35px -20px rgba(0, 0, 0, 0.4);
}

.inner-header-box {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}

.body {
  padding: 5px;
  padding-top: 20px;
  background-color: white;
}

.footer {
  border-top: 1px solid rgba(137, 235, 0, 0.25);
}

.footer-content {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.9em;
  min-height: 56px;
  text-align: center;
}

.section-white {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.section-gray {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.section-wrapper-960px {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.section-wrapper-840px {
  padding: 10px 0;
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.example-box {
  font-size: 0.9em;
  padding: 9px;
  padding-left: 15px;
  border-left: 2px solid #89eb00;
  background-color: #fafafa;
  width: 840px;
  max-width: 840px;
}

.polaroid {
  margin: 20px 20px 0 0; 
  float:left; 
  width: 260px; 
  height: 300px; 
  padding: 15px; 
  background: linear-gradient(to bottom, #eee, #f5f5f5); 
  display: flex; 
  flex-direction: column; 
  box-shadow: 0px 10px 23px -12px rgba(0, 0, 0, 0.7);
  /*box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.24);*/
  cursor: pointer;
}

.polaroid h3 {
  margin-top: 4px;
  padding-top: 0px;
  margin-bottom: 4px;
  padding-bottom: 0px;
  line-height: 1.2;
  font-size: 1.1em;
  font-weight: bold;
}

.title-box {
  display: flex; 
  margin: auto; 
  width: 600px; 
  max-width: 600px; 
  flex-wrap: wrap; 
  justify-content: center;
}

.polaroid-container {
  width: 100%; display: flex; flex-wrap: wrap; justify-content: left;
}

.polaroid-title {
  display: flex;
  justify-content: center;
  flex-flow: column;
  color: #777;
  line-height: 1.2;
  font-size: 0.8em;
  text-align: center;
  height: 70px;
}

.polaroid-pic {
  width: 230px; 
  height: 230px; 
  background-size: cover;
}

.polaroid-pic-dylan {
  background-image: url(./pics/bob.jpg);
}

.polaroid-pic-met {
  background-image: url(./pics/met.jpg);
}

.polaroid-pic-srv {
  background-image: url(./pics/srv.jpg);
}

.polaroid-pic-place {
  background-image: url(./pics/place.jpg);
}

.polaroid-pic-hendrix {
  background-image: url(./pics/hendrix.jpg);
}

.polaroid-pic-tower {
  background-image: url(./pics/tower.jpg);
}

.polaroid-pic-tracy {
  background-image: url(./pics/tracy.jpg);
}

.group {
  background: linear-gradient(to bottom, #999, #ddd); 
  min-height: 400px; 
  flex-grow: 1;
}

.group-inner {
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  flex-direction: column;
  color: white; 
  width: 840px;  
  padding: 20px 0 60px 0; 
  font-size: 0.9em;
  flex-grow: 1;
}

.group-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background: linear-gradient(to bottom, #7cdb00, #439c00);
  height: 220px;
  width: 260px;
  max-height: 250px;
  padding: 10px 35px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 12px 23px -9px rgba(0, 0, 0, 0.7);
  margin: 20px 20px 0 0; 
}

.header-top {
  cursor: pointer; text-align: center; height: 200px; padding-top: 0; align-items: center; justify-content: center;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {
  body {
    font-size: 30px;
  }

  h2  {
    font-size: 1.4em;
  }

  .group-box {
    min-height: 210px;
    line-height: 1.3;
    font-size: 0.7em;
  }

  .polaroid {
    width: 380px;
    height: 490px;
  }

  .polaroid-pic {
    width: 350px;
    height: 350px;
  }
  
  .polaroid-title {
    height: 120px;
    font-size: 0.7em;
  }
  
  .header {
    height: 72px;
  }

  .header2 {
    height: 72px;
  }


  .header-item {
    height: 72px;
    line-height: 72px;
  }
}

.title-div {
  width: 640px; font-size: 4em; line-height: 1.3; font-family: 'Amatica SC'; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  color: #89eb00;
}

.subtitle {
  width: 640px; padding: 15px; line-height: 1.5; padding-bottom: 10px; margin-left: auto; margin-right: auto;
}

#line1 {
  width:110px; height:20px; border-bottom: 2px solid #89eb00;
}

#line2 {
  width :40px; height: 60px; border-bottom: 2px solid #89eb00; margin-left: auto; margin-right: auto;
}

#start {
  cursor: pointer; text-align: center; height: 200px; padding-top: 0; align-items: center; justify-content: center;
}